$color: #4682b4;
$colorDark: hsl(hue($color), 20, 20);

$color1: #DDDEDE;
$color2: #232122;
$color3: #A5C05B;
$color4: #7BA4A8;

$colorDark:$color2;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
	padding: 0;
	margin: 0;
	background: $color1;
	font-family: 'Open Sans', sans-serif;
	color: rgba(black, 0.7);
	article {
		min-height: 100vh;

		&>section {
			max-width: 800px;
			margin: auto;
			padding: 1rem;
		}
	}
	nav {
		background-color: $colorDark;
		display: flex;
		padding: 0.5rem;
		justify-content: flex-end;
		a {
			margin-right: 1rem;
			margin-bottom: 0.5rem;
			color: white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	h2 , h3{
		color: $color4;
		font-family: 'Anton', sans-serif;
		font-weight: 400;
    	font-style: normal;
		margin-bottom: 0;
	}
	h2 {
		color: $color3;
		margin: 0;
		font-size: 3rem;
		background-size: cover;
		background-position: center;
		padding: 1rem;
		padding-top:20rem;
		text-transform: uppercase;
		padding-left: 20%;
	}
}

#sluzby {
	h2 {
		background-image: url(photo/1.jpg);
	}
}
#o-nas {
	h2 {
		background-image: url(photo/4.jpg);

	}
}
#kontakt {
	h2 {
		background-image: url(photo/7.jpg);

	}
}
main {
	margin: auto;
}
footer {
	background-color: $colorDark;
	padding-bottom: 0;
	color: rgba(white, 0.8);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1rem;
	a {
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	span {
		margin: 1rem;
		white-space: nowrap;
	}
}
.column {
	display: flex;
	flex-wrap: wrap;
	&>* {
		min-width: 200px;
		flex-grow: 1;
		flex-basis: 0;
	}
}
