$color1: #303c4f;
$color2: #ff7f2a;
$color3: #C0CDE0;
$color4: #455172;
$color5: #FFC857;


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
	margin: 0;
font-family: 'Open Sans', sans-serif;
	background-color: $color1;
	color: $color3;
}

h1{
	font-family: 'Josefin Sans', sans-serif;
	color: $color2;
	margin-bottom: 0;
	white-space: nowrap;
	margin-right: 2rem;
}
h2 {
	font-family: 'Josefin Sans', sans-serif;
}
header {
	background-image: url('logo.svg');
	background-repeat: no-repeat;
	background-position: center;
}
a {
	color: white;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

article, header {
	min-height: 100vh;
		border-bottom: 1px solid darken($color2, 10%);
}
article {
	background-color: $color1;
	padding: 2rem;
	line-height: 2rem;
	display: flex;
	&>section {
		display: flex;
		max-width: 800px;
		margin: 0 auto;
		align-items: center;
		section {
			border-left: 1px solid white;
			padding-left: 2rem;
		}
	}
	&:nth-child(2n) {
		background-color: lighten($color1, 7%);
	}
}

i {
	color: $color2;
}
h1 {
	font-size: 5rem;
}

footer {
	background-color: $color1;

	padding: 2rem;
	section {
		display: flex;
		flex-wrap: wrap;
		span {
			white-space: nowrap;
			margin-right: 1rem;
			margin-bottom: 1rem;

		}
		justify-content: space-between;
		max-width: 800px;
		margin: 0 auto;
	}
}
