@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #303c4f;
  color: #C0CDE0; }

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #ff7f2a;
  margin-bottom: 0;
  white-space: nowrap;
  margin-right: 2rem;
  padding-bottom: 5rem; }

h2, h3 {
  font-family: 'Josefin Sans', sans-serif; }

h3 {
  margin-top: 3rem; }

header {
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

article, header {
  min-height: 100vh;
  border-bottom: 1px dotted #f66200; }

article {
  background-color: #303c4f;
  padding: 2rem;
  line-height: 2rem;
  display: flex;
  position: relative; }
  article > section {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    align-items: center; }
    article > section section {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      padding-left: 2rem; }
  article:nth-child(2n) {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #3d4d65; }
  article:after {
    content: "";
    background: url("images/4.jpg");
    opacity: 0.1;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0; }
  article#sluzby:after {
    background: url("images/1.jpg");
    background-size: cover; }
  article#kontakt:after {
    background: url("images/3.jpg");
    background-size: cover; }

i {
  color: #ff7f2a; }

h1 {
  font-size: 5rem; }

footer {
  background-color: #303c4f;
  padding: 2rem; }
  footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto; }
    footer section span {
      white-space: nowrap;
      margin-right: 1rem;
      margin-bottom: 1rem; }
